<ion-header>
  <ion-navbar>
    <ion-title>{{details.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteGoal()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-6 text-left>
        <h4>{{"COMMON.SPARE_MONEY" | translate | uppercase}}</h4>
      </ion-col>
      <ion-col col-6 text-right>
        <h4>{{spendableAmount | currency:'EUR':true}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-grid [style.background-color]="getCollectedColor()">
      <ion-row>
        <ion-col col-12 text-right class="detail-view-price">
          {{details.collectedAmount | currency:'EUR':true}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 *ngFor="let col of getCollectedPackages().bills">
          <euro-column [data]="col"></euro-column>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 *ngFor="let col of getCollectedPackages().coins">
          <euro-column [data]="col"></euro-column>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="detail-view-label">
          {{"COMMON.COLLECTED" | translate}}
        </ion-col>
        <ion-col text-right>
          <button ion-button small icon-only (click)="decrementCollectedAmount()" [disabled]="!details.collectedAmount">
            <ion-icon name="remove"></ion-icon>
          </button>

          <button ion-button small icon-only (click)="incrementCollectedAmount()"
                  [disabled]="details.collectedAmount >= details.price || spendableAmount <= 0">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid [style.background-color]="getSpendableAmountColor()">
      <ion-row>
        <ion-col col-12 text-right class="detail-view-price">
          {{details.price - details.collectedAmount | currency:'EUR':true}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 *ngFor="let col of getTotalPackagesLeft().bills">
          <euro-column [data]="col"></euro-column>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 *ngFor="let col of getTotalPackagesLeft().coins">
          <euro-column [data]="col"></euro-column>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="detail-view-label">
          {{"GOAL_DETAILS.NEEDED" | translate}}
        </ion-col>
        <ion-col text-right>
          <button class="button"
                  ion-button
                  padding-vertical
                  color="primary"
                  (click)="askMoney()">
            {{"GOAL_DETAILS.ASK_FOR_HELP" | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
