goal-details {
  ion-content {
    //font-weight: bold;
    font-family: "Lato" !important;
  }

  .detail-view-price {
    font-size: 4rem;
    color: white;
  }

  .detail-view-label {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: white;
  }
}
