<ion-header>
  <ion-toolbar>
    <ion-title text-center>{{"ADD_NEW_GOAL.TITLE" | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-text color="primary">
          <span>{{"COMMON.CANCEL" | translate}}</span>
        </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formData" (ngSubmit)="saveGoal()">

    <ion-list>
      <ion-item>
        <ion-label position="floating">{{"ADD_NEW_GOAL.NAME" | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="!formData.controls.name.valid && formData.controls.name.touched">
        <p class="invalid">{{"ADD_NEW_GOAL.NAME_ERROR" | translate}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{"ADD_NEW_GOAL.PRICE" | translate}}</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="!formData.controls.price.valid && formData.controls.price.touched">
        <p class="invalid">{{"ADD_NEW_GOAL.PRICE_ERROR" | translate}}</p>
      </ion-item>
    </ion-list>

    <!-- take image -->
    <div padding>
      <ion-row>
        <ion-col text-center (click)="takePicture()">
          <ion-icon *ngIf="!formData.value.imageSource" style="font-size: 120px;" name="camera"></ion-icon>
          <img *ngIf="formData.value.imageSource" src="{{ 'data:image/jpeg;base64,' + formData.value.imageSource }}"/>
          <br>{{!formData.value.imageSource ? ("ADD_NEW_GOAL.TAKE_PICTURE" | translate | uppercase) : ''}}
        </ion-col>
      </ion-row>
    </div>

    <!-- save form data -->
    <div padding>
      <ion-button color="primary" expand="block" type="submit" [disabled]="!formData.valid">
        {{"COMMON.ADD" | translate}}
      </ion-button>
    </div>
  </form>

</ion-content>
