// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.woff') format('woff'), url('../assets/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Light.woff') format('woff'), url('../assets/fonts/Lato-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

ion-content {
  font-weight: normal;
  font-family: "Lato" !important;
}

//.icon-money-5-0, .icon-money-5-1, .icon-money-5-2, .icon-money-5-3, .icon-money-5-4, .icon-money-5-5 {
//  background-image: url('../assets/images/money-pack.png');
//  background-repeat: no-repeat;
//  /* Create a Responsive Square */
//  width: 100%;
//  height: 0;
//  padding-bottom: 100%;
//  /* Set The Sprite as the Background */
//  background-size: 600%; //number of images horizontally * 100
//  display: block;
//}
//
//.icon-money-5-0 {
//  /* Set The Sprite as the Background */
//  background-position: 0 0;
//}
//
//.icon-money-5-1 {
//  /* Set The Sprite as the Background */
//  background-position: percentage(1/5) 0;
//}
//
//.icon-money-5-2 {
//  /* Set The Sprite as the Background */
//  background-position: percentage(1/5*2) 0;
//}
//
//.icon-money-5-3 {
//  /* Set The Sprite as the Background */
//  background-position: percentage(1/5*3) 0;
//}
//
//.icon-money-5-4 {
//  /* Set The Sprite as the Background */
//  background-position: percentage(1/5*4) 0;
//}
//
//.icon-money-5-5 {
//  /* Set The Sprite as the Background */
//  background-position: percentage(1/5*5) 0;
//}
//
//.euro-500, .euro-200, .euro-100, .euro-50, .euro-20, .euro-10, .euro-5 {
//  height: 100px;
//}
//
//.euro-500 {
//  background: url('../assets/images/500-euro.svg') no-repeat;
//}
//
//.euro-200 {
//  background: url('../assets/images/200-euro.svg') no-repeat;
//}
//
//.euro-100 {
//  background: url('../assets/images/100-euro.svg') no-repeat;
//}
//
//.euro-50 {
//  background: url('../assets/images/50-euro.svg') no-repeat;
//}
//
//.euro-20 {
//  background: url('../assets/images/20-euro.svg') no-repeat;
//}
//
//.euro-10 {
//  background: url('../assets/images/10-euro.svg') no-repeat;
//}
//
//.euro-5 {
//  background: url('../assets/images/5-euro.svg') no-repeat;
//}
//
//.euro-2 {
//  background: url('../assets/images/2-euro.svg') no-repeat;
//}
//
//.euro-1 {
//  background: url('../assets/images/1-euro.svg') no-repeat;
//}
//
//.euro-0-50 {
//  background: url('../assets/images/0-50-euro.svg') no-repeat;
//}
//
//.euro-0-20 {
//  background: url('../assets/images/0-20-euro.svg') no-repeat;
//}
//
//.euro-0-10 {
//  background: url('../assets/images/0-10-euro.svg') no-repeat;
//}
//
//.euro-0-05 {
//  background: url('../assets/images/0-05-euro.svg') no-repeat;
//}
//
//.euro-0-02 {
//  background: url('../assets/images/0-02-euro.svg') no-repeat;
//}
//
//.euro-0-01 {
//  background: url('../assets/images/0-01-euro.svg') no-repeat;
//}

.bill-count {
  color: white;
  background-color: red;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 1.3rem;
  position: absolute;
  top: -10px;
  font-weight: bold;
  right: -6px;
}

.coin-count {
  color: white;
  background-color: red;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 1.3rem;
  position: absolute;
  top: 1px;
  font-weight: bold;
  right: 1px;
}

.money {
  font-size: 1.8rem
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border: 2px solid #ebccd1;
  border-radius: 5px;
}

.success-message {
  text-transform: uppercase;
  color: #3c763d;
  background-color: #dff0d8;
  border: 2px solid #d6e9c6;
  border-radius: 5px;
}
