/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.woff') format('woff'), url('./assets/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Light.woff') format('woff'), url('./assets/fonts/Lato-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

ion-content {
  font-weight: normal;
  font-family: "Lato" !important;
}

.bill-count {
  color: white;
  background-color: red;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 1.3rem;
  position: absolute;
  top: -10px;
  font-weight: bold;
  right: -6px;
}

.coin-count {
  color: white;
  background-color: red;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 1.3rem;
  position: absolute;
  top: 1px;
  font-weight: bold;
  right: 1px;
}

.money {
  font-size: 1.8rem
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border: 2px solid #ebccd1;
  border-radius: 5px;
}

.success-message {
  text-transform: uppercase;
  color: #3c763d;
  background-color: #dff0d8;
  border: 2px solid #d6e9c6;
  border-radius: 5px;
}

